@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
font-family: 'Open Sans', sans-serif;
font-size: 1.5em;
  }
.jumbo {
font-size: 4em;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;

}
a,a:visited,a:hover,a:active {
color: grey;
}
a,a:visited {
text-decoration: none;
}
a:hover, a:active {
text-decoration: underline;
text-decoration-style: dotted;
}
.header,.body {
  width: 75%;
  margin: 0 auto;
}
